<nav class="{{ classes.navbar }}">
  <div class="flex justify-between mx-auto items-center max-w-screen-xl md:justify-start">
    <div>
      <a href="/" class="p-2 first:-ml-4 text-md font-bold whitespace-no-wrap hover:bg-blue-400 rounded-sm md:mr-12 md:px-4 md:py-6" {% if page.url == '/' %} aria-current="page" {% endif %}>
      How 2 Javascript
        <span class="sr-only">Back to homepage</span>
      </a>
    </div>

    <div class="flex">
      {% for item in navigation.main %}
      <a {% if item.external %}rel="external" {% endif %} href="{{ item.url }}"
      class="px-3 py-5 mx-1 first:-ml-4 last:-mr-4 text-md border-b-2 border-transparent focus:outline-none hover:border-blue-400 focus:border-blue-400 {% if page.url == item.url %}border-primary{% endif %}" {% if page.url == item.url %} aria-current="page" {% endif %}>{{ item.label }}</a>
      {% endfor %}
    </div>
  </div>
</nav>