<div class="{{ classes.navbar}}">
  <nav class="flex items-center mx-auto measure">
    <a href="/" class="p-2 text-sm font-bold hover:bg-blue-400">
      Learn 2 Javascript
      <span class="sr-only">Back to homepage</span>
    </a>

    <div class="flex items-center ml-auto -mb-px">
      {% for item in navigation.main %}
      <a {% if item.external %}rel="external" {% endif %} href="{{ item.url }}"
      class="px-1 py-4 text-base leading-5 whitespace-no-wrap border-b-2 border-transparent focus:outline-none hover:border-blue-400 focus:border-blue-400 ml-6 md:ml-12 {% if page.url == item.url %}border-primary{% endif %}" {% if page.url == item.url %} aria-current="page" {% endif %}>{{ item.label }}</a>
      {% endfor %}
    </div>
  </nav>
</div>