@tailwind base;

/* ************************** */
/* CSS Variables */
/* ************************* */

:root {
  /* Measure */
  --measure: theme('maxWidth.3xl');

  /* Flow */
  --flow-space: 1.5em;

  /* Colors */
  --color-bodybg: theme('colors.white');
  --color-muted: theme('colors.bodytextMute');
  --color-primary: theme('colors.purple.700');
  --color-secondary: theme('colors.primaryPink');
  --color-links: var(--color-primary);
  --color-focus: var(--color-secondary);
  /* Stetson's colors */
  --color-primaryBlack: #090b0b;
  --color-secondaryBlack: #141414;
  --color-mute: #3e4851;
  --color-primaryGreen: #192b2f;
  --color-secondaryGreen: #203941;
  --color-teal: #437789;
  --color-primaryPink: #ff206e;
  --color-secondaryPink: #ff85af;
  --color-blockquotebg: #fff9db;
  --color-blockquoteBorder: #ffe066;

  /* Syntax highlighting for Code Stuff */
  /* borrowed with great respect from Tania Rascia */
  --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
  --code-font-color: #b3b9c5;
  --code-background-color: #353535;
  --string: #92d192;
  --variable: #f2777a;
  --property: #abb2bf;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #d5d8df;
  --comment: #848991;
  --function: #62cfcf;
  --keyword: #ffeead;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #f2777a;
  --light-background: #f1f3f5;
}

/* ************************** */
/* Scoped CSS Variables */
/* ************************* */

.dark-mode {
  /* Colors */
  --color-bodybg: theme('colors.cool-gray.900');
  --color-bodytext: theme('colors.cool-gray.200');
  --color-muted: theme('colors.cool-gray.800');
  --color-primary: theme('colors.purple.300');
  --color-secondary: theme('colors.pink.300');
}

/* ************************** */
/* Custom Base Styles */
/* ************************* */

:root {
  -webkit-overflow-scrolling: touch; /* Prevent scroll issues in iOS */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

::selection {
  @apply text-white bg-primary;
}

:focus,
button:focus {
  outline: 1px solid var(--color-focus);
  outline-offset: 0.1rem;
}
:hover:focus {
  outline: 0;
}

/* Default section with some padding */
section {
  @apply px-6 py-16;
}

/* Typography */
h1 {
  @apply text-primaryBlack mt-0 mb-10;
}
h2 {
  @apply mt-16 mb-8;
}
h3 {
  @apply text-secondaryBlack mt-8 mb-6;
}
h4,
h5 {
  @apply mt-4 mb-3;
}
h2 {
  @apply border-b border-gray-400 pb-3;
}
p {
  @apply text-gray-700 py-2;
}
h1,
h2,
h3 {
  @apply font-bold leading-tight font-display uppercase;
}
h4,
h5 {
  @apply font-display;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4,
h5 {
  @apply text-xl;
}
@screen md {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4,
  h5 {
    @apply text-2xl;
  }
}

.text-highlight {
  @apply inline px-1 -mx-1;
}
.text-highlight {
  box-decoration-break: clone;
}

blockquote {
  @apply p-5 bg-blockquotebg border border-blockquoteBorder border-l-8 rounded;
}

/* Links */
a:focus {
  outline: none;
}

a:not([class]) {
  color: theme('colors.gray.700');
  background-image: linear-gradient(
    transparent 50%,
    rgba(255, 133, 175, 0.5) 0px
  );
  padding-right: 4px;
  padding-bottom: 2px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: all 0.18s ease 0s;
  word-break: break-word;
}
a:not([class]):hover {
  background-position: right -4px top 7px;
  padding-right: 4px;
  padding-bottom: 2px;
  color: var(--color-secondaryPink);
}

.primary-link {
  font-weight: bold;
  font-size: x-large;
}

.primary-link::before {
  content: '\2192';
}

.primary-link-demo::after {
  content: ' (Demo)';
  font-weight: normal;
}

/* Content flow */
.flow {
  max-width: var(--measure);
}
.flow > * + * {
  margin-top: 1.5em;
  margin-top: var(--flow-space);
}
.flow > p + p {
  --flow-space: 1em;
}
.flow > h1 + p,
.flow > h2 + p,
.flow > h3 + p,
.flow > h4 + p {
  --flow-space: 1.25em;
}

.measure {
  max-width: var(--measure);
}

/* Grid Shit */
.content-grid > * {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Extra Markdown styles (bold and italic are already set up in @ tailwind base */
.markdown ul {
  list-style-type: disc;
  list-style-position: inside;
}
.markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
}

@tailwind components;

@tailwind utilities;

/* TOC Custom Stuffs */
@responsive {
  .toc {
    font-size: 1rem;
    display: block;
    position: fixed;
    bottom: 1em;
    width: 13.5em;
    right: 3.5em;
  }
}

/* Demo component */
.demo {
  @apply block relative px-4 py-3 -mx-3 mt-2 mb-6 border border-teal rounded-md;
}

.demo::after {
  position: absolute;
  right: 1.25rem;
  bottom: -9px;
  content: 'Demonstration';
  text-transform: uppercase;
  font-weight: 400;
  background: #fff;
  @apply text-teal px-1 text-xs font-normal;
}

.demo.top::after {
  right: 1.25rem;
  bottom: auto;
  top: -10px;
}

.demo[data-demo-label]::after {
  content: attr(data-demo-label);
}

/* External links icon */
a[rel~='external']::after {
  content: '↗';
  font-family: system-ui, -apple-system, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: currentColor;
  padding-left: 0.2em;
  line-height: 0.75;
  text-decoration-line: none;
}

/* Tags */
.tags {
  display: flex !important;
  align-items: center;
  text-transform: lowercase;
}

.tags > a {
  display: block;
  font-weight: 500;
  /* background: #f1f3f5; */
  /* color: #343a40; */
  margin: 0.2rem;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-bottom: 0;
  white-space: nowrap;
}

.tags > a:first-child {
  margin-left: 0;
}

.tags > a:last-child {
  margin-right: 0;
}

.tags > a:hover {
  /* background: #868e96; */
  /* color: white; */
}

/* ************************** */
/* Syntax Highlighting */
/* ************************* */

/* credit goes to Tania Rascia */
/* https://github.com/taniarascia/taniarascia.com/blob/master/src/new-moon.css */

pre[class*='language-'] {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.55);
}

code[class*='language-'],
pre[class*='language-'] {
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--code-font-color);
  font-family: var(--code-font-family);
  font-size: 0.8rem;

  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-weight: 400;
  line-height: 1.7;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  overflow: auto;
}

@media screen and (min-width: 800px) {
  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 0.9rem;
  }
  pre[class*='language-'] {
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--code-background-color);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}

pre.language-text,
code.language-text {
  background: var(--light-background) !important;
  color: #333 !important;
  box-shadow: none;
}

code.language-shell::before {
  content: '$ ';
  color: var(--comment);
}

pre.language-terminal {
  position: relative;
  background: white;
  color: #595c62;
  box-shadow: 0 8px 16px rgba(100, 120, 130, 0.35);
  padding-top: 3rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #c9cccf;
}

code.language-terminal {
  color: #595c62;
}

pre.language-terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  background: #e0e3e7;
  color: var(--code-font-color);
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  line-height: 0;
  padding: 18px 0 16px;
  text-indent: 6px;
  letter-spacing: -6px;
}

.gatsby-highlight-code-line {
  background-color: #191919;
  display: block;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-left: 0.25rem solid #748ffc;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.property {
  color: var(--property);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tag);
}

.token.number {
  color: var(--number);
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--code-font-color);
}

.token.attr-name,
.token.selector {
  color: var(--attribute);
}

.token.attr-value,
.token.string {
  color: var(--string);
}

.token.operator {
  color: var(--operator);
}

.token.atrule,
.token.keyword {
  color: var(--keyword);
}

.token.function {
  color: var(--function);
}

.language-css,
.token.boolean,
.token.class-name {
  color: var(--class) !important;
}

.token.regex {
  color: var(--keyword);
}

.token.variable {
  color: var(--variable);
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.filename {
  font-size: 0.9rem;
  margin-bottom: -0.8rem;
  padding: 0.5rem 1.5rem 0.75rem;
  line-height: 1.8;

  background-color: black;
  color: white;
  z-index: 1;

  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@media screen and (min-width: 800px) {
  .filename {
    padding: 0.5rem 1rem 0.75rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    margin-left: auto;
    margin-right: auto;
  }
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}
